
.navv-bar {
  background-color: transparent;
  background: url('../../Images/background.jpg');
  opacity: 0.9;
  backdrop-filter: blur(10px); 
}
.logo-side > img {
  width: 30px;
  height: 30px;
}
.logo-side {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-left: 10px;
}

.logo-p {
  font-size: 9px;
  margin-top: 5px;
}
